
<!-- Frat email -->
<div class="modal fade" id="frat_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Fraternity President Email Template</h4>
      </div>
      <div class="modal-body modal_body_size">
        <p>Hey _________,</p>
        <p>
          <span style="font-size: 18px;">Sit down.</span> Literally. You don't need to get up. Klink lets you order alcohol for delivery to your doorstep with a few taps on an app or clicks on a website. Getting your drinks should be as awesome as drinking your drinks. Now it is.
        </p>
        <p>
          If the idea of doing whatever you want — sitting on your couch, getting ready with friends, watching a game, staying at a party — while your beer, liquor, and wine is delivered to you is not appealing, you should stop reading now.
        </p>
        <p>
          But if you want an app that lets you save your payment and delivery information and then have alcohol delivered to you in an under an hour, let me give you the info.
        </p>
        <p>
          My name's __________(full name). I'm the Community Director for Klink. And my only job is to blow your mind.
        </p>
        <p>
          <span style="font-size: 18px;">Lowest prices allowed by law.</span> Klink offers state-minimum liquor prices, so these are literally the lowest prices anyone is legally allowed to charge. No one can beat them. Our delivery fee is only $2.87.
        </p>
        <p>
          <span style="font-size: 18px;">Stop missing out.</span> I know I don't have to tell you how much time you're wasting by making runs to the liquor store. The best way to make sure you miss out on whatever's going on is to have to leave to drive or walk to the liquor store.
        </p>
        <p>
          <span style="font-size: 18px;">Avoid frostbite.</span> Had enough of putting on a coat and boats, writing down what everyone wants, driving or walking to a liquor store, trying to find everything in the store, paying for it all, and then making your way all the way back? We do the work for you, and the only muscle you'll be moving is your thumb (and we promise it'll only take a few clicks or taps).
        </p>
        <p>
          <span style="font-size: 18px;">We know what we're doing.</span> We are operating at other campuses, major cities, and have been going for over a year now. We're so excited to officially launch in ______(your town) this week! I'd love for you and all the members of _______ (organization name) to make your next alcohol purchase through us. Give us a chance and I know you'll be hooked.
        </p>
        <p>
          <span style="font-size: 18px;">Keys to the kingdom.</span> How do you get in on all this awesomeness? It's easy. www.klinkdelivery.com to get to the site or search Klink in the Apple App Store (or go right to klinkdelivery.com/ios). The app is currently only available on iPhone, but an Android version will be out soon!
        </p>
        <p>
          <span style="font-size: 18px;">The hook up.</span> Still a little hesitant? Reach out to us for your next big party of mixer. If you use our service for a large bulk order for the first time, we would love to hook it up with a sweet deal, throw in some free swag, or maybe even sponsor your party.
        </p>
        <p>
          <span style="font-size: 18px;">Share the love.</span> If you'd like to forward this email to your social chair or your entire chapter, we'd really appreciate it — and I'm sure they would too! We take orders of all sizes, so feel free to make an order even if you just want a case of beers or a couple bottles of wine for the night.
        </p>
        <p>
          <span style="font-size: 18px;">24/7.</span> But actually. If you have any questions, concerns, or feedback — if there is anything we can do — email, text, or call me directly: ______@klink.com, ____________(cell phone). You can also always get help by calling our toll-free number at (877) 236-4041.
        </p>
        <p>
          We're looking forward to serving you!
        </p>
        <p>
        --</br>
        ______(full name)  |  Community Director, Klink Technologies, Inc.</br>
        ______@klink.com</br>
        M: _________(cell phone)</br>
        Web: klinkdelivery.com  App: klink.com/ios  Facebook: facebook.com/klinkdelivery</br>
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<!-- Frat fb -->
<div class="modal fade" id="frat_fb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Fraternity President FB Follow-up Template</h4>
      </div>
      <div class="modal-body modal_body_size">

        <p>
          Hey _____. Just wanted to follow up about my email last week regarding Klink, an alcohol delivery service. I know you and your fraternity are probably accustomed to just making alcohol runs yourself. So, to make getting your alcohol delivered to your doorstep with only a few taps/clicks even more of a no-brainer, our team has agreed to provide all of your cups and chasers at your next party for FREE. 
        </p>
        <p>
          Basically, instead of having to go through all the effort of driving to a store, finding and buying everything, transporting it back, etc., we do all the grunt work for you for a $2.87 delivery fee. And our liquor prices are at state minimums, so it's illegal for anyone (liquor store, grocery store, whatever) to charge less than we do for liquor. 
        </p>
        <p>
          When's your next party? I want to get to work right away coordinating the logistics of getting all the cups and mixers to you for free.
        </p>
        <p>
          If it's easier for you to give me your social chair’s contact information so I can coordinate with him directly, that would be great. We look forward to making the process of getting your drinks as awesome as drinking your drinks.
        </p>
        <p>
          We're at klinkdelivery.com and in the Apple App Store at klinkdelivery.com/ios
        </p>
        <p>
          Thanks!</br>
          Brandon
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Party Sponsorship -->
<div class="modal fade" id="party_sponsorship" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Party Sponsorship Request</h4>
      </div>
      <div class="modal-body modal_body_size">

        <p>Hey _________,</p>
        <p>
          My name's _______, and I'm the community director for Klink, an alcohol delivery service.  I heard about your big Tahitian party next weekend, so I wanted to tell you why ordering alcohol for the event through the Klink website or iPhone app is an absolute no-brainer.
        </p>
        <p>
          We offer state minimum liquor prices, so it’s illegal to sell liquor any cheaper than our prices.
        </p>
        <p>
          And we only charge a $3.87 flat fee for delivery. Basically, we have the exact same prices (if not cheaper) as a liquor or grocery store, but instead of having to go  through all the effort of driving to a store, finding and buying everything, transporting it back, etc., we do all the grunt work for you for only $3.87.
        </p>
        <p>
          Just to sweeten this deal even more, our team has agreed to provide all of the cups, mixers and several hundred leis to go along with the theme —  all for FREE.
        </p>
        <p>
          Check out our website at klinkdelivery.com  or download  the Klink app (klinkdelivery.com/ios) from the Apple App Store, and you'll see our prices and inventory — bottom shelf, top shelf, and everything in between.
        </p>
        <p>
          I look forward to hearing back from you . Let me if know if we have the green light on this, so we can get to work to make getting your drinks as awesome as drinking your drinks. 
        </p>
        <p>
          Best,</br>
          _______(full name)
        </p>
        <p>
        --</br>
        ______(full name)  |  Community Director, Klink Technologies, Inc.</br>
        ______@klink.com</br>
        M: _________(cell phone)</br>
        Web: klinkdelivery.com  App: klink.com/ios  Facebook: facebook.com/klinkdelivery</br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Customer Apology Approach -->
<div class="modal fade" id="customer_apology" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Customer Apology Approach</h4>
      </div>
      <div class="modal-body modal_body_size">
        <p style="font-size: 18px;">
         Framework</br>
        </p>
        <p>
          There are basically three components: 
          <ol>
            <li>Apology (because we’re sorry)</li>
            <li>Taking responsibility (because people want to know that we have high standards for ourselves and we’re not trying to squirm out of being accountable)</li>
            <li>Making it right at all costs (free stuff, sending them a damn birthday cake or flowers, whatever it takes)</li>
          </ol>
        </p>
        <p style="font-size: 18px;">
         Example</br>
        </p>
        <p><span style="text-decoration: underline;">Potential Problem:</span> Say for some reason, a customer placed an order, 2 hours have gone by, and it has not been delivered yet. They call you to figure out what's going on with their order and they are starting to get really annoyed, impatient, and dissatisfied with their experience.</p>
        <p>
           <span style="text-decoration: underline;">Potential Solution:</span> Profusely apologize for the issue--blame it on completely unexpected car trouble. People want to hear an apology and they want you to take responsibility. So “We’re so sorry” a bunch of times, and “This is completely unacceptable on our part, and we want you to have a perfect experience.” Then offer either to have it delivered in an hour and us pay for it or deliver it later and have us pay for it (obviously they could’ve also chosen to just cancel and refund to, but we'd rather steer them away from that).
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Communication Standards -->
<div class="modal fade" id="communication_standards" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Klink Communications Standards</h4>
      </div>
      <div class="modal-body modal_body_size">
        <p>
          We are partnered with alcohol "vendors" or "providers" that operate in the service area. Do not refer to them as "stores."
        </p>
        <p>
          Don't refer to the delivery workers as "our drivers." We don't have drivers. Just use "the drivers," or "drivers." "We will send a driver."
        </p>
        <p>
          Be careful to never imply that we actually sell alcohol. We neither store nor sell alcohol, ever.
        </p>
        <p>
          Klink doesn't "markup" prices. There are small "service fees" to cover extra costs associated with delivery.
        </p>
        <p>
          Job titles are generally not capitalized. "Jeff Nadel, Klink’s chief executive officer." "CEO" works too but is normally used on second reference.
        </p>
        <p>
          Examples for how to format times:
          <ul>
            <li>Noon to 6 p.m. </li>
            <li>2-5 p.m. 11 a.m. to 3:45 p.m.</li>
            <li>10:30 p.m. to midnight.</li>
            <li>9-9:30 in the morning</li>
          </ul>
        </p>
        <p>
          Numbers less than 10 need to be spelled out. Numbers greater than 10 can be shown in figures. "We need three orders." "There were 25 people at the event." 
        </p>
        <p>
          Formatting examples for ages: "A user must be 21 years old." "A 5-year-old cannot order." 
        </p>
        <p>
          Dates: "Klink launched on Aug. 21, 2013. The event will take place on May 6. A special promotion will run this Tuesday."
        </p>
        <p>
          "There were <span style="font-style: italic;">more than</span> 100 orders placed." "We made <span style="font-style: italic;">more than</span> $1 million." Not: "we made <span style="font-style: italic;">over</span> one million dollars."
        </p>
        <p>
          "I passed out a <span style="font-style: italic;">flier</span>." 
        </p>
        <p>
          No Oxford commas. "Beer, liquor and wine." 
        </p>
        <p>
          On a Mac, use shift+option+hyphen to produce an em dash. On an iPhone, hold down the hyphen button to find it. Include spaces on both sides. "—"
        </p>
        <p>
          In general, use apostrophes correctly, watch out for proper capitalization, be careful not to mix up then and than, your and you're, to and too, etc. Just the normal grammar stuff.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Media Help -->
<div class="modal fade" id="media_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Talking Points for the Media</h4>
      </div>
      <div class="modal-body modal_body_size">
        <p style="font-size: 16px;">
         Getting your drinks should be as awesome as drinking your drinks. With Klink, now it is.</br>
        <ul>
          <li>
            We were tired of seeing people forced to choose between having fun and being responsible. Now you can do both. With Klink, you can keep the party going without having to get behind the wheel of a car. 
          </li>
          <li>
            Customers go to our app or website, choose the beer, wine, and liquor that they want, enter payment and delivery information which they can they save for future orders, and click confirm. That's it. It can all be done in just a few clicks or taps. 
          </li>
          <li>
            This is the single safest way to purchase and enjoy beer, wine, and liquor.
          </li>
          <li>
            We have an extensive age-verification system that includes every single customer being ID'd at the point of delivery and other backend identity authentication. Our age-verification methods are at least as thorough, if not even stricter, than those that a customer encounters when purchasing alcohol from a traditional liquor store.
          </li>
          <li>
            It is absolutely fundamental to our mission as a company that we ensure that our service is not used by underage individuals to purchase alcohol. So we use, and we will continue to use, every legal and technological means available to us to ensure that our service is used only by legally eligible customers to purchase alcohol in the most convenient, hassle-free way possible...with just a few clicks or taps on our app or website. 
          </li>
          <li>
            We don't claim that our service solves every problem associated with drinking. When misused, alcohol can be very dangerous and even fatal. What we do argue is that Klink is the safest way to purchase and enjoy alcohol. In 2012, there were 132 drunk driving arrests in Ann Arbor alone. 28% of traffic fatalities in Michigan are caused in part or related to drunk driving. Our view is let's do what we can to avoid the entire equation of having to leave your house, having to get behind the wheel of a car, or having to engage in any other dangerous behavior.
          </li>
          <li>
            When you combine the convenience of our service, our work to prevent drunk driving, and our community and university outreach to promote responsible drinking, I think you get a much fuller picture of what our company is about.
          </li>
          <li>
            Our distribution partners in Ann Arbor have the lowest prices that can legally be charged for liquor. Because we offer state-minimum pricing with a tiny $3.87 delivery fee, ordering through DrinkDrivers should be a no-brainer, whether you're having a huge party, a small get-together, an intimate dinner, or watching a game with a few friends.
          </li>
          <li>
            When you run out of drinks, the last thing you want to do is risk a DUI and get in the car to make a beer or liquor run. You should be able to focus on having fun; let us do the grunt work. Tell us what drinks you want, when you want them, and where to find you. Before you know it, cases of beer and bottle of liquor will show up at your door
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Greek Life Contacts Spreadsheet -->
<div class="modal fade" id="greek_contacts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 900px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Greek Life Contact Spreadsheet</h4>
      </div>
      <div class="modal-body">

        <p>Below is an example of the first few entries of the records I kept for Greek Organizations</p>
        <img src="/assets/greek_life_spreadsheet.png" alt="Greek Life Excel Example">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>