<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Klink | Community Director</title>
</head>
<body>

	<%= render "layouts/header" %>

	<div class="post">
		<h1 class="topic">Skype Interview</h1>

		<h2 class="greeting">Congratulations! </h2>

		<p class="text_body">	
			Well...we're impressed. Loved your application, and we would like to invite you to our second round of our application process: the Skype interview.
		</p>

		<h3 class="section">What to expect</h3>
			<p class="text_body">Luckily, you've already gotten past the hard part. Our skype interview is very casual, and is just a way for us to get to know you and also for you to learn a bit more about Klink and what your role would be if you're chosen as the Community Director. </p>

		<h3 class="section">Where to sign up</h3>
			<p class="text_body">In the sidebar you'll see our team's availability to chat. Please select the time that works best for you, and if none of those options work, shoot us a message. Also, put down your Skype username and feel free to add us so we're good to go when your interview time comes around.</p>

		<h3 class="section">What now?</h3>
			<p class="text_body">After you kill your Skype interview, you're done! Just sit tight and give our team a bit of time to review your application and come to a decision. We'll notify you either by email or phone regardless of our decision. Thanks for taking the time to apply to Klink, cheers!</p>
	</div>

	<div class="sidebar">
		<h1>Interview Times</h1>

			<div class="communication_tools">
				<h2>Availability</h2>
				<ul>
					<h4>Monday, July 7</h4>
					<li><a href="">2:30-3PM</a></li>
					<li><a href="">4-4:30PM</a></li>

					<h4>Tuesday, July 8</h4>
					<li><a href="">6-6:30PM</a></li>

					<h4>Wednesday, July 9</h4>
					<li><a href="">5:30-6PM</a></li>
					<li><a href="">7-7:30PM</a></li>
					</br>
					<li style="list-style-type: none; margin-left: -30px; font-size: 18px;"><a href="">None of the above work?</a></li>

				</ul>
			</div>


			<div class="contact">
				<h2>Our info</h2>
				<div class="my_info">
					<ul>
						<li style="text-transform: uppercase; padding-bottom: 8px;">Brandon Taleisnik</li>
						<li>Username: btaleis</li>
					</ul>
				</div>
				<div class="skype_button">
					<%= button_to "Next", community_director_home_path, method: "get" %>
				</div>
			</div>
	</div>

	
</body>
</html>